/* font */
@font-face {
    font-family: 'shabnam';
    src: url('../assetes/fonts/Shabnam.woff') format('woff'),
         url('../assetes/fonts/Shabnam.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #fff;
    font-size: 16px;
    font-family: 'shabnam';
    direction: rtl;
}
a,a:hover{
    text-decoration: none !important;
}
ul{
    list-style-type: none !important;
}
input,input:focus{
    outline: none !important;
}
.mb,.mb-1,.mb-2,.mb-3,.mb-4,.mb-5{
    margin-bottom: 0 !important;
}
/* header */
.header{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.navbar{
    padding: 0;
    margin: 0;
    height: auto;
    position: -webkit-sticky;
}
.navbar-brand{
    background-image: url("../assetes/img/009_logo_Bg.svg");
    background-size: cover;
    background-position: 10% 70%;
    height: 5rem;
    display: flex;
    align-items: center;
}
.navbar-brand img{
    max-width: 3rem;
    height: 3rem;
    margin-left: 0.4rem;
}
.navbar-brand a{
    color: #007f62;
    font-weight: 500;
}
.navbar-toggler{
    color: #333 !important;
    transition: all .6s ease-in-out;
}
.nav-item{
    height: 3rem;
    display: flex;
    padding: 0 1rem;
    align-items: center;
   
}
.nav-link{
    color: #333 !important;
    font-weight: 500 !important;
    transition: all .4s ease-in-out;
    padding: 0.5rem;
    border-radius: .5rem;
}
.nav-link:hover{
    background-color: #333;
    color: #fff !important;
}
.custom-btn{
    color: #fff;
    border-radius: 2rem;
    box-shadow: 0 0.7rem 1.8rem 0 rgba(227, 84, 39, 0.3);
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(to top, #e35325, #ff8a65);
    width: 6rem;
    border: 2px solid #333;
}
.custom-btn:hover{
    color: #fff;
}
.h3{
    color: #007f62;
    font-weight: bold;
    padding: 0 !important;
    font-size: 1.75rem !important;
}
.border-green{
    border-color: #007f62 !important;
    border-width: .1rem !important;
    width: 3.3rem !important;
    padding: 0;
}
p.lead{
    color: #333;
    font-size: 1rem;
    padding-top: 1rem;
}
#moj{
    background-image: url("../assetes/img/bg-wave.png");
    background-position: 100% 25%;
    background-size: cover;
    position: relative;
}

/* main */
.main{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.box{
    background-color: #eee;
    padding: 0.5rem;
    border-radius: 21px;
}
.box-card{
    background-color: #fff;
    color: #333;
    padding: .5rem 1rem;
    border-radius: 21px;
    font-size: 0.5rem;
    text-align: center;
    position: absolute;
    top: 111px;
    right: 111px;
}
.img-card{
    width: 1rem;
    height: 1rem;
    color: #007f62 !important;
    margin: auto !important;
}
p.text-dark{
    font-size: 12px !important;
    text-align: center !important;
}
.box-body{
    position: absolute;
    bottom: 6.5rem;
    padding: 0.5rem 2rem;
    background-color: #eee;
    color: #333;
    font-size: 8px;
    border-radius: 21px;
    right: 9rem;
}
.border-Green{
    border-color: #1baf8d !important;
    border-width: .1rem !important;
    width: .15rem !important;
    padding: 0;
    height: 40rem;
    z-index: 100;
}
#box{
    position: absolute;
    top: 0;
    right: -1rem;
}
.box-icons{
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 50%;
    border: 2px solid #1baf8d;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.box-icons svg{
    width: 1.5rem;
    height: 1.5rem;
    z-index: 111;
}
.input-group{
    background-color: transparent !important;
}
.input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #333;
    direction: ltr;
    vertical-align: middle;
    background-color: #eee !important;
}
.app-btn{
    background-color: #1baf8d;
    color: #fff;
    padding: 0.5em;
    width: 11rem;
    border-radius: 21px;
    border: none !important;
    
}
.app-btn:hover{
    color: #fff !important;
}
.app-btn img{
    width: 2rem;
    margin-left: 0.5rem;
}
.app-btn i{
    font-size: 1.25rem;
    vertical-align: middle;
    margin-left: 0.5rem;
}
#bg-img{
    background-image: url("../assetes/img/022_bg_amadegisafar.svg");
    background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
    height: 25rem;  
}
#btn-travel{
    position: absolute;
    bottom: -1rem;
    right: 50%;
    transform: translate(50%);
}
#img-box div{
    min-height: 11rem;
}
#img-box img{
    min-height: 11rem !important;
}

/* footer */
.footer{
    width: 100%;
    min-height: 15rem;
    position: relative;
    background: url(../assetes/img/025_footer_Bg.svg) no-repeat;
    margin: 0 !important;
    padding: 0 !important;

}
footer.footer ul{
    margin-right: 0.5rem;
}
footer.footer ul li a{
    color: #fff !important;
}
.icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon:nth-child(1){
    position: absolute;
    top: 15px;
    right: -2px;
}
.icon:nth-child(2){
    position: absolute;
    top: 37px;
    right: 41px;
}
.icon:nth-child(3){
    position: absolute;
    right: 75px;
    top: 61px;
}
.footer-2{
    width: 100%;
    min-height: 15rem;
    position: relative;
    background-color: #007f62;
    margin: 0 !important;
    padding: 0 !important;
    
}    
.footer-2 .icons{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}
.footer-2 #links-footer ul{
    margin-right: 0.5rem;
}
.footer-2 #links-footer ul li a{
    color: #fff !important;
}

.footer-2 #ft i{
    color: #fff !important;
}
/* responsive */
@media screen and (max-width:767px){
    #moj{
        margin-top: 12rem !important;
    }
    #box-btn div{
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
    }
    #btn-travel{
        bottom: -2rem;
    }
    #img-100{
        width: 100% !important;
        display: block !important;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    #img-100 img{
        width: 100% !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .input-group .input{
        width: 100% !important;
    }
    .footer-2{
        width: 100%;
        min-height: 15rem;
        position: relative;
        background-color: #007f62;
        margin: 0 !important;
        padding: 0 !important;
        
    }    
    .footer-2 .icons{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-2 #links-footer ul{
        margin-right: 1.5rem;
    }
    .footer-2 #links-footer ul li a{
        color: #fff !important;
    }
}
@media screen and (max-width:566px) {
    .icons{
        order: 1 !important;
    }
    #box{
        position: initial !important;
        display: flex !important;
        flex-direction: row !important; 
    }
    .box-icons{
        width: 4rem;
        height: 4rem;
        padding: 0.5rem;
        border-radius: 50%;
        border: 2px solid #1baf8d;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-icons svg{
        width: 1.5rem;
        height: 1.5rem;
    }
    #card{
        width: 100% !important;
    }
    .input-group-append{
        display: flex !important;
        margin-top: 0.75rem;
        justify-content: center !important;
        align-items: center !important;
    }
    #btn-travel{
        position: absolute;
        bottom: -.5rem !important;
    }
    #img-100{
        width: 100% !important;
    }
    #img-100 .col-12{
        width: 100% !important;
        padding-right: 5rem !important;
    }
}
#btn {
    position: fixed;
    left: 1.5rem;
    bottom: 1rem;
    padding: 1rem 1.5rem;
    background-color: #333;
    color: #fff;
    font-size: 1.8rem;
    border-radius: .3rem;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
    z-index: 3000;
  }